@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");
@import url("./button.css");
@import url("./hamburger.css");

:root {
  --primary-color: #111111;
  --animation-primary: 0.735s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

::selection {
  background: rgb(80, 176, 255);
  color: #ffffff;
}

.big-para {
  font-size: 4vw;
}

/* lenis CSS */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.container {
  max-width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
}
/* section{
  background-color: #ffffff;
} */

body {
  font-family: "Satoshi", Arial, sans-serif;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  color: var(--primary-color);
  background-color: #ffffff;
  overflow-x: hidden;
}

#cursor {
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
}

[data-title-anim],
[data-para-anim],
.para-anim,
.lineWord {
  font-kerning: none;
}
[data-title-anim] .line,
[data-para-anim] .line,
.para-anim .line,
.lineWord .line {
  overflow: hidden;
}

.textbreak .line {
  width: fit-content !important;
  background: linear-gradient(90deg, #1a1a1a 50%, #1a1a1a2e 0);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
}

/* Services Section Accordion - HomePage */
.accordion .line-internal {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}
.accordion .line-internal span {
  display: flex !important;
}

/* Blog Multiple Line Underline */
.under-multi {
  text-decoration: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0, 0)),
    linear-gradient(#ffffff, #ffffff);
  background-size:
    100% 0px,
    0% 1px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat, no-repeat;
  transition: all 0.5s ease-out;
}

.under-multi-parent:hover .under-multi {
  background-size:
    100% 0px,
    100% 1px;
}

/* Link Hover Animation */
.link-line {
  width: fit-content;
  position: relative;
}
.link-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right;
  transition: transform var(--animation-primary);
  transform: scaleX(0) rotate(0.001deg);
}
.link-line:hover::after {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}


/* Contact Form CSS */
.form input {
  width: 50vw;
  height: 3vw;
  margin: 0 2vw;
  font-size: 1.5vw;
}
.form-detail input {
  width: 24vw;
}
.detail input {
  width: 88vw;
  margin-left: 0;
}
.select-input span {
  font-size: 1.5vw;
  color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}

/* Career Form CSS */
.career input {
  height: 2vw;
  font-size: 1.1vw;
}
.docs input {
  border: #000 dashed 1px;
  border-radius: 10px;
  padding: 4vw;
}
.career-form textarea {
  font-size: 1.1vw;
  font-weight: 500;
}
.career-form span {
  font-size: 1.1vw;
}
.career-form-span {
  font-size: 1.3vw !important;
}
/* Hide First Element */
.hide-first .hide-first-child:first-of-type .hide {
  display: none;
}

/* Image Animation CSS Start*/
.image-animation-left-wrapper,
.image-animation-down-wrapper,
.img-work-anim {
  overflow: hidden;
}
.image-animation-left-wrapper div,
.image-animation-down-wrapper div,
.img-work-anim .inner-div {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.image-animation-left-wrapper img,
.image-animation-down-wrapper img,
.img-work-anim .inner-div img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.imageanim {
  --beforeHeight: 100%;
}
.imageanim::before {
  content: "";
  position: absolute;
  width: var(--beforeHeight);
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  background-color: #ffffff;
  will-change: transform;
  z-index: 2;
}
.imganim {
  --beforeHeight: 100%;
}
.imganim::before {
  content: "";
  position: absolute;
  height: var(--beforeHeight);
  width: 100%;
  bottom: 0;
  will-change: transform;
  display: block;
  background-color: #ffffff;
  z-index: 2;
}
/* Image Animation CSS END*/

/* our work number animation */
.counter,
.count,
.countnew {
  left: 150px;
  bottom: 150px;
  display: flex;
  height: 90px;
  font-size: 5vw;
  line-height: 102px;
  clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
  color: #000;
  overflow: hidden;
}

.counter-1,
.counter-2,
.counter-3,
.counter-4,
.count-2,
.count-3,
.count-4,
.countnew-2,
.countnew-3,
.countnew-4 {
  position: relative;
  top: -10px;
}

/* cards anmation */
.cardback {
  backface-visibility: hidden;
  transform: perspective(900px) rotateY(180deg);
}
.cardfront {
  backface-visibility: hidden;

  transform: perspective(1200px) rotateY(0deg);
}

/* string line css */
.string-line {
  height: 1px;
  position: relative;
  width: 100%;
}
.string-line svg {
  position: absolute;
  height: 100px;
  width: 100%;
  top: -50px;
}

.string-line svg path {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}
.box {
  height: 40px;
  width: 100%;
  display: flex;
  position: relative;
  top: -20px;
  z-index: 1;
}
.box:hover {
  height: 150px;

  top: -75px;
}
.transitionIn .blocck {
  transform-origin: top;
}

.transitionOut .blocck {
  transform-origin: bottom;
}
.error-page-line .string-line svg path {
  stroke-width: 1px;
  stroke: white;
  fill: none;
}

/* modal css */
.ReactModalPortal {
  position: fixed !important;
  z-index: 300 !important;
}
.wp-block-video {
  margin-bottom: 1.5vw;
}
.footer-anim {
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

/* mobile css */
@media screen and (max-width: 541px) {
  .container {
    max-width: 100%;
    padding-right: 7%;
    padding-left: 7%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Counter Animation */
  .counter,
  .count,
  .countnew {
    bottom: 150px;
    display: flex;
    height: 70px;
    font-size: 10vw;
  }
  .counter-1,
  .counter-2,
  .counter-3,
  .counter-4,
  .count-2,
  .count-3,
  .count-4,
  .countnew-2,
  .countnew-3,
  .countnew-4 {
    top: -10px;
  }
  /* Counter Animation */

  .cardback {
    backface-visibility: hidden;
    transform: perspective(900px) rotateY(0deg);
  }

  .form input {
    width: 85vw;
    height: 100%;
    margin: 0 2vw;
    padding: 0vw 2vw;
    padding-bottom: 2vw;
    font-size: 4vw;
  }
  .form-detail input {
    width: 85vw;
  }
  .details input {
    width: 84vw;
  }
  .career input {
    padding-top: 4vw;
    padding-left: 2vw;
    height: 5vw;
    font-size: 3.5vw;
  }
  .select-input span {
    font-size: 4.5vw;
    color: #000;
  }
  .career-form span {
    font-size: 4vw;
  }
  .career-form-span {
    font-size: 4.5vw !important;
  }

  .career-form textarea {
    font-size: 3.5vw;
    font-weight: 500;
  }
  .wp-block-video {
    margin-bottom: 5vw;
    /* border-radius: 15px; */
    overflow: hidden;
  }
  .work_work__qXY49 p strong {
    font-size: 5.5vw !important;
    margin-bottom: 2vw !important;
    font-weight: 500;
  }
  .work_work__qXY49 p {
    font-size: 4.5vw !important;
    margin-bottom: 5vw;
  }

  .work_work__qXY49 h3 {
    font-size: 6vw !important;
    width: 100% !important;
  }
  .info-container {
    display: flex;
    flex-direction: column;
  }
  .info-container .is-layout-constrained {
    width: 100% !important;
  }
  .wp-block-gallery.gallery-half,
  .wp-block-group.gallery-half {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  justify-content: space-between;
  gap: 5vw !important;
  margin-bottom: 5vw !important;
  }
  .fullSizeImage, .wp-block-video{
    height: 26vh;
    margin-bottom: 5vw !important;
  }
}

@media screen and (min-width: 540px) and (max-width: 1023px) {
  .container {
    max-width: 100%;
    padding-right: 7%;
    padding-left: 7%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Counter Animation */
  .counter,
  .count,
  .countnew {
    bottom: 150px;
    display: flex;
    height: 70px;
    font-size: 6vw;
  }

  .counter-1,
  .counter-2,
  .counter-3,
  .counter-4,
  .count-2,
  .count-3,
  .count-4,
  .countnew-2,
  .countnew-3,
  .countnew-4 {
    top: -15px;
  }
  /* Counter Animation */

  .tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form input {
    width: 85vw;
    height: 4vw;
    margin: 0 2vw;
    font-size: 2.5vw;
  }
  .form-detail input {
    width: 45vw;
  }
  .details input {
    width: 84vw;
  }
  .career input {
    padding: 1vw 1vw;

    height: 5vw;
    font-size: 2vw;
  }
  .select-input span {
    font-size: 2.5vw;
    color: #000;
  }
  .career-form span {
    font-size: 2vw;
  }
  .career-form textarea {
    font-size: 2vw;
    font-weight: 500;

    padding: 1vw 1vw;
  }
  .cardback {
    backface-visibility: hidden;
    transform: perspective(900px) rotateY(0deg);
  }
  .work_work__qXY49 p {
    font-size: 2.5vw !important;
    margin-bottom: 2vw;
  }
  .wp-block-video {
    margin-bottom: 3vw;
  }
}

/* Work Detail Page */
.fullSizeImage {
  width: 100%;
  margin-bottom: 2.5vw;
}
.wp-block-video {
  margin-bottom: 2.5vw;
  /* border-radius: 15px; */
  overflow: hidden;
}
.wp-block-gallery {
  display: grid;
  grid-template-columns: 57.6% 39%;
  width: -webkit-fill-available;
  justify-items: stretch;
  justify-content: space-between;
  margin-bottom: 2.5vw;
}
.wp-block-gallery.gallery-half,
.wp-block-group.gallery-half {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  gap: 2.5vw;
  margin-bottom: 2.5vw;
}
.wp-block-gallery.gallery-half .half-size-image,
.wp-block-group.gallery-half .half-size-image {
  width: 100%;
  margin-bottom: 0;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8%;
  margin-bottom: 8%;
  gap: 2.5vw;
}
.info-container .is-layout-constrained {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
}

/* Search Button */
.search-btn {
  align-items: center;
  border-radius: 60px;
  display: flex;
  height: 55px;
  justify-content: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.search-btn:after {
  border-radius: 140%;
  content: "";
  display: block;
  height: 140%;
  left: 0;
  pointer-events: visible;
  position: absolute;
  top: -20%;
  width: 100%;
}
.search-btn .bg {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(44, 44, 44, 0.15);
  border-radius: 60px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(0.7);
  transform-origin: right;
  transition:
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  will-change: transform;
}
.search-btn .label {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 1em;
  opacity: 0;
  padding: 0 1.25rem;
  pointer-events: none;
  position: relative;
  transform: translateX(10px);
  transition:
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.search-btn .icon {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 45px;
  justify-content: center;
  margin-right: 6px;
  position: relative;
  width: 45px;
}
.search-btn .icon:before {
  background-color: #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.7);
  transform-origin: center;
  transition:
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  will-change: transform;
}
.search-btn .icon .search-icon {
  position: relative;
  transform-origin: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.search-btn .icon .search-icon circle,
.search-btn .icon .search-icon line {
  transition: stroke 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (hover: hover) {
  .search-btn:hover .search-icon {
    color: black !important;
  }
  .search-btn:hover .bg,
  .search-btn:hover .icon:before {
    opacity: 1;
    transform: scale(1);
  }
  .search-btn:hover .label {
    opacity: 1;
    transform: translateX(0);
  }
  .search-btn:hover .bg,
  .search-btn:hover .icon:before {
    opacity: 1;
    transform: scale(1);
  }
  .search-btn:hover .icon .search-icon {
    transform: scale(0.8);
  }
}

.search-wrapper {
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 203;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.search-wrapper .bg {
  background: #111111d5;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.search-wrapper .search-bar-container .bg {
  background-color: #1b1b1b;
  box-shadow: 0 1px 10px #111111;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  width: 100%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

.search-wrapper .search-bar-container .search-container {
  align-items: center;
  display: flex;
  height: 100%;
}
.search-wrapper .search-bar-container .search-input.landscape-input {
  display: block;
}
.search-wrapper .search-bar-container .search-input {
  background: none;
  border: none;
  box-shadow: none;
  color: #fff;
  display: block;
  font-weight: 500;
  height: 100%;
  line-height: 1em;
  position: relative;
  width: 100%;
  outline: none;
  padding: 5px;
}
.search-wrapper .search-bar-container .search-input:focus-visible {
  border-bottom: 1px solid #fff;
}
.search-wrapper .close-col {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}
.xxlarge-2 {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}

/* Close Button */
.close-btn {
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  position: relative;
  z-index: 1;
}
.search-bar-container .close-btn .bg {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgba(188, 188, 188, 0.15);
  border-radius: 60px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.7);
  transform-origin: right;
  transition: 
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  will-change: transform;
}
.close-btn .label {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1em;
  opacity: 0;
  padding: 0 1.25rem;
  position: relative;
  transform: translateX(10px);
  transition:
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  z-index: 2;
}
.close-btn .icon {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 45px;
  justify-content: center;
  margin-right: 6px;
  min-height: 45px;
  position: relative;
  width: 45px;
  z-index: 1;
}
.close-btn .icon:before {
  background-color: #fff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0.7);
  transform-origin: center;
  transition:
    transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
  will-change: transform;
}
.close-btn .icon .icon-svg {
  position: relative;
  transform-origin: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}
.close-btn .desktop-icon {
  display: block;
}
.close-btn .icon .icon-svg line {
  transition: stroke 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.close-btn .mobile-icon {
  display: none;
}

@media (hover: hover) {
  .close-btn:hover .bg,
  .close-btn:hover .icon:before {
    opacity: 1;
    transform: scale(1);
  }
  .close-btn:hover .label {
    opacity: 1;
    transform: translateX(0);
  }
  .close-btn:hover .bg,
  .close-btn:hover .icon:before {
    opacity: 1;
    transform: scale(1);
  }
  .close-btn:hover .icon .icon-svg {
    transform: scale(0.7);
  }
  .close-btn:hover .icon .icon-svg line {
    stroke: #2c2c2c;
  }
  .close-btn:hover .icon .icon-svg {
    transform: scale(0.7);
  }
}

.search-wrapper.open {
  opacity: 1;
  visibility: inherit;
  pointer-events: visible;
}
.search-wrapper.open .search-bar-container .bg {
  transform: scaleY(1);
}
.search-wrapper.open .search-bar-container .search-container,
.search-wrapper.open .search-wrapper .close-col {
  opacity: 1;
}

.search-wrapper.open .search-bar-container .logo{
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 100ms;
}

.search-wrapper input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
.search-wrapper input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
.search-wrapper input[type="search"]::-webkit-search-decoration,
.search-wrapper input[type="search"]::-webkit-search-cancel-button,
.search-wrapper input[type="search"]::-webkit-search-results-button,
.search-wrapper input[type="search"]::-webkit-search-results-decoration { display: none; }

@media only screen and (max-width: 1023px) {
  .close-btn {
      align-items: center;
      background-color: #fff;
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: center;
      width: 45px;
  }
  .close-btn .label {
    display: none;
  }
  .close-btn .icon {
    margin-right: 0;
  }
  .close-btn .desktop-icon {
    display: none;
  }
  .close-btn .mobile-icon {
    display: block;
  }
  .search-btn .label {
    display: none;
}
.search-btn {
  height: 12.9vw;
}
.search-btn:after {
    height: 74px;
    left: auto;
    right: -10px;
    top: -10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 74px;
}
}

/* Link Styling */
a.link-style{
  color: #006aff;
  text-decoration: none;
  transition: all 0.2s;
}

a.link-style:hover{
  color: #00aaff;
}


/* Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
