@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts.css');
@import url('./button.css');
@import url('./hamburger.css');

.container{
    max-width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: 'Satoshi', Arial, sans-serif;
    text-rendering: geometricPrecision;
    color: #111111;
    background-color: #ffffff;
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    height: 20vw !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: #111111;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }