.menu-btn path {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 30;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu-btn .line--1, .menu-btn .line--3 {
    --total-length: 111.2281341553;
    --offset: -50.2281341553;
}
.menu-btn .line--2 {
    --total-length: 99;
}
.menu-btn.open svg {
    filter: none !important;
}
.menu-btn.open path {
    stroke: #ffffff !important;
    transform: translateX(35px);
}
.menu-btn.open .line--1, 
.menu-btn.open .line--3 {
    --offset: -16.9705627485;
}
.menu-btn.open .line--2 {
    --offset: -20;
}
.menu-btn.open .line--1,
.menu-btn.open .line--3 {
    --length: 22.627416998;
}
.menu-btn.open .line--2 {
    --length: 0;
}

@media screen and (max-width: 1023px) {
    .nav-clip-path{
        top: 2%;
        right: 5.5%;
        clip-path: inset(4% 7% 96% 92% round 50px);
    }
}

@media screen and (max-width: 540px) {
    .nav-clip-path{
        top: 2%;
        right: 5%;
        clip-path: inset(4% 7% 96% 92% round 50px);
    }
}

