.portfolioDescription a, .work a{
    color: #006aff;
    text-decoration: none;
}

.portfolioDescription a:hover, .work a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 3px;
}

.work{
    width: 100%;
    height: auto;
}
.work img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.work video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.work h3, .work h4 {
    /* font-family: Outfit, Aial, san-serif; */
    font-family: var(--font-outfit);
    font-weight: 400;
}
.work h3{
    font-size: 3vw;
    width: 30%;
    line-height: 1.2;
}
.work p{
    font-size: 1.4vw;
}