.navSearchResults {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    background-color: #0000007c;
    padding: 12vw 10vw 10vw;
}
[data-search-is-active="true"] .navSearchResults {
    display: block;
}
.navSearchResults a {
    width: fit-content;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2vw;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (hover: hover) {
    .navSearchResults a:hover {
        color: #006eff;
   }
}

@media only screen and (max-width: 1023px) {
    .navSearchResults {
        padding: 22vw 5vw 10vw;
        overflow: scroll;
        position: fixed;
        height: auto;
    }
    .navSearchResults a, .navSearchResults p {
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 640px) {
    .navSearchResults {
        padding: 15vh 8vw 10vw;
        height: auto;
    }
    .navSearchResults a, .navSearchResults p {
        font-size: 4.5vw;
    }
}
